body {
	margin: 0;
	height: 5000px;
	background-color: #55adab;
	transition: background-color ease-in 200ms;
}
main {
	font-family: "Poiret One", Arial, "Helvetica Neue", Helvetica, sans-serif;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate3d(-50%, -50%, 0);
	color: #fff;
	font-size: 10vw;
}
